@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato';
    background: #182940;
}
.navbar
{
    display: flex;
    align-items: center;
    padding: 30px;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul
{
    display: inline-block;
    list-style-type: none;
}
nav ul li
{
    display: inline-block;
    margin-right: 40px;
}
a 
{
    text-decoration: none;
    color: white;
}
p
{
    color: #000; 
}
.gallerie a
{
    color: #0D9FD9;
}
.container
{
    max-width: 2100px;
    margin-left: 40px;
    padding-left: 25px;
    padding-right: 25px;
    height: 850px;
}
section .containerr
{
    position: fixed;
    padding: 40px 60px;
    background: rgba(255, 255, 255, 0.418);
    margin-left: -155px;
    padding-left: 60px;
    top: 230px;
    width: calc(100% - 1700px);
    height: 590px; 
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.5);
    transition: 0.9s;
}
section .containerr ul li
{
    list-style: none;
    cursor: pointer;
}
section .containerr:hover
{
    box-shadow: 0 10px 110px rgba(255, 255, 255, 0.5);
    transition: 0.7s;
    background: rgb(255, 255, 255);
    margin-left: 70px;
}
section .containerr ul
{
    background-color: rgba(255, 255, 255, 0);
}
section .containerr a 
{
    background-color: #ffffff00;
    color: #182940;
}
.list 
{
    background-color: #ffffff00;
    color: #182940;
    text-align: center;
    font-size: 22px;
    margin-bottom: 40px;
}
.list:hover
{
    color: #0D9FD9;
}
#tous
{
    color: #0D9FD9;
}
.col-2
{
    position: relative;
    left: 430px;
    bottom: 620px;
    background:rgb(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: calc(350px);
    height: 220px;
    transition: 1.5s;
}
.col-2:hover
{
    background:rgba(255, 255, 255, 0.212);
    transition: 1.5s;
}
.col-2tmax
{
    background-color: #ffffff00;
    position: relative;
    top: 100px;
    left: 180px;
}
.col-2 h3
{
    background-color: #ffffff00;
    color: white;
    position: relative;
    bottom: 175px;
    left: 20px;
    font-size: 25px;
}
.col-2s
{
    color: white;
    position: relative;
    bottom: 110px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.col-2s p
{
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.rating
{
    background-color: rgba(255, 255, 255, 0);
}
.test 
{
    color: white;
    position: relative;
    bottom: 150px;
    background-color: rgba(255, 255, 255, 0);
    left: 20px;
}


.col-3
{
    position: relative;
    left: 990px;
    bottom: 840px;
    background:rgb(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: calc(350px);
    height: 220px;
    transition: 1.5s;
}
.col-3:hover
{
    background:rgba(255, 255, 255, 0.212);
    transition: 1.5s;
}
.col-3BM
{
    background-color: #ffffff00;
    position: relative;
    top: 95px;
    left: 180px;
}
.col-3 h3
{
    background-color: #ffffff00;
    color: white;
    position: relative;
    bottom: 160px;
    left: 20px;
    font-size: 25px;
}
.col-3s
{
    color: white;
    position: relative;
    bottom: 100px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.col-3s p
{
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.rating1
{
    background-color: rgba(255, 255, 255, 0);
}
.test1
{
    color: white;
    position: relative;
    bottom: 140px;
    background-color: rgba(255, 255, 255, 0);
    left: 20px;
}
.col-4
{
    position: relative;
    left: 990px;
    bottom: 650px;
    background:rgb(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: calc(350px);
    height: 220px;
    transition: 1.5s;
}
.col-4:hover
{
    background:rgba(255, 255, 255, 0.212);
    transition: 1.5s;
}
.col-4sh
{
    background-color: #ffffff00;
    position: relative;
    top: 75px;
    left: 180px;
}
.col-4 h3
{
    background-color: #ffffff00;
    color: white;
    position: relative;
    bottom: 180px;
    left: 20px;
    font-size: 25px;
}
.col-4s
{
    color: white;
    position: relative;
    bottom: 125px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.col-4s p
{
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.rating2
{
    background-color: rgba(255, 255, 255, 0);
}
.test2
{
    color: white;
    position: relative;
    bottom: 170px;
    background-color: rgba(255, 255, 255, 0);
    left: 20px;
}

.col-5
{
    position: relative;
    left: 435px;
    bottom: 867px;
    background:rgb(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: calc(350px);
    height: 220px;
    transition: 1.5s;
}
.col-5:hover
{
    background:rgba(255, 255, 255, 0.212);
    transition: 1.5s;
}
.col-5MerA
{
    background-color: #ffffff00;
    position: relative;
    top: 75px;
    left: 180px;
}
.col-5 h3
{
    background-color: #ffffff00;
    color: white;
    position: relative;
    bottom: 180px;
    left: 20px;
    font-size: 25px;
}
.col-5s
{
    color: white;
    position: relative;
    bottom: 125px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.col-5s p
{
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.rating3
{
    background-color: rgba(255, 255, 255, 0);
}
.test3
{
    color: white;
    position: relative;
    bottom: 170px;
    background-color: rgba(255, 255, 255, 0);
    left: 20px;
}

.col-6
{
    position: relative;
    margin-top: 190px;
    left: 435px;
    bottom: 867px;
    background:rgb(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: calc(350px);
    height: 220px;
    transition: 1.5s;
    
}
.col-6:hover
{
    background:rgba(255, 255, 255, 0.212);
    transition: 1.5s;
}
.col-6Golf
{
    background-color: #ffffff00;
    position: relative;
    top: 95px;
    left: 180px;
}
.col-6 h3
{
    background-color: #ffffff00;
    color: white;
    position: relative;
    bottom: 120px;
    left: 20px;
    font-size: 25px;
}
.col-6s
{
    color: white;
    position: relative;
    bottom: 75px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.col-6s p
{
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.rating4
{
    background-color: rgba(255, 255, 255, 0);
}
.test4
{
    color: white;
    position: relative;
    bottom: 110px;
    background-color: rgba(255, 255, 255, 0);
    left: 20px;
}

.col-7
{
    position: relative;
    margin-top: 190px;
    left: 435px;
    bottom: 880px;
    background:rgb(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: calc(350px);
    height: 220px;
    transition: 1.5s;
    
}
.col-7:hover
{
    background:rgba(255, 255, 255, 0.212);
    transition: 1.5s;
}
.col-7bmwc
{
    background-color: #ffffff00;
    position: relative;
    top: 75px;
    left: 130px;
}
.col-7 h3
{
    background-color: #ffffff00;
    color: white;
    position: relative;
    bottom: 180px;
    left: 20px;
    font-size: 25px;
}
.col-7s
{
    color: white;
    position: relative;
    bottom: 125px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.col-7s p
{
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.rating5
{
    background-color: rgba(255, 255, 255, 0);
}
.test5
{
    color: white;
    position: relative;
    bottom: 170px;
    background-color: rgba(255, 255, 255, 0);
    left: 20px;
}

.col-8
{
    position: relative;
    margin-top: 190px;
    left: 990px;
    bottom: 1690px;
    background:rgb(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: calc(350px);
    height: 220px;
    transition: 1.5s;
    
}
.col-8:hover
{
    background:rgba(255, 255, 255, 0.212);
    transition: 1.5s;
}
.col-8c3
{
    background-color: #ffffff00;
    position: relative;
    top: 115px;
    left: 170px;
}
.col-8 h3
{
    background-color: #ffffff00;
    color: white;
    position: relative;
    bottom: 135px;
    left: 20px;
    font-size: 25px;
}
.col-8s
{
    color: white;
    position: relative;
    bottom: 85px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.col-8s p
{
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.rating6
{
    background-color: rgba(255, 255, 255, 0);
}
.test6
{
    color: white;
    position: relative;
    bottom: 120px;
    background-color: rgba(255, 255, 255, 0);
    left: 20px;
}
.col-9
{
    position: relative;
    margin-top: 190px;
    left: 990px;
    bottom: 1700px;
    background:rgb(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: calc(350px);
    height: 220px;
    transition: 1.5s;
    
}
.col-9:hover
{
    background:rgba(255, 255, 255, 0.212);
    transition: 1.5s;
}
.col-9utili
{
    background-color: #ffffff00;
    position: relative;
    top: 85px;
    left: 170px;
}
.col-9 h3
{
    background-color: #ffffff00;
    color: white;
    position: relative;
    bottom: 170px;
    left: 20px;
    font-size: 25px;
}
.col-9s
{
    color: white;
    position: relative;
    bottom: 115px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.col-9s p
{
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.rating7
{
    background-color: rgba(255, 255, 255, 0);
}
.test7
{
    color: white;
    position: relative;
    bottom: 158px;
    background-color: rgba(255, 255, 255, 0);
    left: 20px;
}

.col-10
{
    position: relative;
    margin-top: 190px;
    left: 990px;
    bottom: 1700px;
    background:rgb(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: calc(350px);
    height: 220px;
    transition: 1.5s;
    
}
.col-10:hover
{
    background:rgba(255, 255, 255, 0.212);
    transition: 1.5s;
}
.col-10eco
{
    background-color: #ffffff00;
    position: relative;
    top: 45px;
    left: 170px;
}
.col-10 h3
{
    background-color: #ffffff00;
    color: white;
    position: relative;
    bottom: 270px;
    left: 20px;
    font-size: 25px;
}
.col-10s
{
    color: white;
    position: relative;
    bottom: 215px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.col-10s p
{
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.rating8
{
    background-color: rgba(255, 255, 255, 0);
}
.test8
{
    color: white;
    position: relative;
    bottom: 260px;
    background-color: rgba(255, 255, 255, 0);
    left: 20px;
}

.col-11
{
    position: relative;
    margin-top: 190px;
    left: 990px;
    bottom: 1700px;
    background:rgb(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: calc(350px);
    height: 220px;
    transition: 1.5s;
    
}
.col-11:hover
{
    background:rgba(255, 255, 255, 0.212);
    transition: 1.5s;
}
.col-11toy
{
    background-color: #ffffff00;
    position: relative;
    top: 85px;
    left: 170px;
}
.col-11 h3
{
    background-color: #ffffff00;
    color: white;
    position: relative;
    bottom: 160px;
    left: 20px;
    font-size: 25px;
}
.col-11s
{
    color: white;
    position: relative;
    bottom: 110px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.col-11s p
{
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.rating9
{
    background-color: rgba(255, 255, 255, 0);
}
.test9
{
    color: white;
    position: relative;
    bottom: 150px;
    background-color: rgba(255, 255, 255, 0);
    left: 20px;
}

.col-12
{
    position: relative;
    margin-top: 190px;
    left: 990px;
    bottom: 1700px;
    background:rgb(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: calc(350px);
    height: 220px;
    transition: 1.5s;
    
}
.col-12:hover
{
    background:rgba(255, 255, 255, 0.212);
    transition: 1.5s;
}
.col-12daf
{
    background-color: #ffffff00;
    position: relative;
    top: 65px;
    left: 170px;
}
.col-12 h3
{
    background-color: #ffffff00;
    color: white;
    position: relative;
    bottom: 170px;
    left: 20px;
    font-size: 25px;
}
.col-12s
{
    color: white;
    position: relative;
    bottom: 110px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.col-12s p
{
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.rating10
{
    background-color: rgba(255, 255, 255, 0);
}
.test10
{
    color: white;
    position: relative;
    bottom: 160px;
    background-color: rgba(255, 255, 255, 0);
    left: 20px;
}
.col-13
{
    position: relative;
    margin-top: 190px;
    left: 435px;
    bottom: 2930px;
    background:rgb(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: calc(350px);
    height: 220px;
    transition: 1.5s;
    
}
.col-13:hover
{
    background:rgba(255, 255, 255, 0.212);
    transition: 1.5s;
}
.col-13renau
{
    background-color: #ffffff00;
    position: relative;
    top: 75px;
    left: 130px;
}
.col-13 h3
{
    background-color: #ffffff00;
    color: white;
    position: relative;
    bottom: 180px;
    left: 20px;
    font-size: 25px;
}
.col-13s
{
    color: white;
    position: relative;
    bottom: 125px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.col-13s p
{
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.rating11
{
    background-color: rgba(255, 255, 255, 0);
}
.test11
{
    color: white;
    position: relative;
    bottom: 170px;
    background-color: rgba(255, 255, 255, 0);
    left: 20px;
}

.col-14
{
    position: relative;
    margin-top: 190px;
    left: 435px;
    bottom: 2930px;
    background:rgb(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: calc(350px);
    height: 220px;
    transition: 1.5s;
    
}
.col-14:hover
{
    background:rgba(255, 255, 255, 0.212);
    transition: 1.5s;
}
.col-14ford
{
    background-color: #ffffff00;
    position: relative;
    top: 75px;
    left: 130px;
}
.col-14 h3
{
    background-color: #ffffff00;
    color: white;
    position: relative;
    bottom: 180px;
    left: 20px;
    font-size: 25px;
}
.col-14s
{
    color: white;
    position: relative;
    bottom: 125px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.col-14s p
{
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.rating12
{
    background-color: rgba(255, 255, 255, 0);
}
.test12
{
    color: white;
    position: relative;
    bottom: 170px;
    background-color: rgba(255, 255, 255, 0);
    left: 20px;
}

.col-15
{
    position: relative;
    margin-top: 190px;
    left: 435px;
    bottom: 2930px;
    background:rgb(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: calc(350px);
    height: 220px;
    transition: 1.5s;
    
}
.col-15:hover
{
    background:rgba(255, 255, 255, 0.212);
    transition: 1.5s;
}
.col-15merhy
{
    background-color: #ffffff00;
    position: relative;
    top: 75px;
    left: 130px;
}
.col-15 h3
{
    background-color: #ffffff00;
    color: white;
    position: relative;
    bottom: 180px;
    left: 20px;
    font-size: 25px;
}
.col-15s
{
    color: white;
    position: relative;
    bottom: 125px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.col-15s p
{
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.rating13
{
    background-color: rgba(255, 255, 255, 0);
}
.test13
{
    color: white;
    position: relative;
    bottom: 170px;
    background-color: rgba(255, 255, 255, 0);
    left: 20px;
}

.col-16
{
    position: relative;
    margin-top: 190px;
    left: 435px;
    bottom: 2930px;
    background:rgb(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: calc(350px);
    height: 220px;
    transition: 1.5s;
    
}
.col-16:hover
{
    background:rgba(255, 255, 255, 0.212);
    transition: 1.5s;
}
.col-16toyotae
{
    background-color: #ffffff00;
    position: relative;
    top: 75px;
    left: 130px;
}
.col-16 h3
{
    background-color: #ffffff00;
    color: white;
    position: relative;
    bottom: 180px;
    left: 20px;
    font-size: 25px;
}
.col-16s
{
    color: white;
    position: relative;
    bottom: 125px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.col-16s p
{
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.rating14
{
    background-color: rgba(255, 255, 255, 0);
}
.test14
{
    color: white;
    position: relative;
    bottom: 170px;
    background-color: rgba(255, 255, 255, 0);
    left: 20px;
}

.col-17
{
    position: relative;
    margin-top: 190px;
    left: 735px;
    bottom: 2930px;
    background:rgb(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: calc(350px);
    height: 220px;
    transition: 1.5s;
    
}
.col-17:hover
{
    background:rgba(255, 255, 255, 0.212);
    transition: 1.5s;
}
.col-17toyotahy
{
    background-color: #ffffff00;
    position: relative;
    top: 75px;
    left: 130px;
}
.col-17 h3
{
    background-color: #ffffff00;
    color: white;
    position: relative;
    bottom: 180px;
    left: 20px;
    font-size: 25px;
}
.col-17s
{
    color: white;
    position: relative;
    bottom: 125px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.col-17s p
{
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.rating15
{
    background-color: rgba(255, 255, 255, 0);
}
.test15
{
    color: white;
    position: relative;
    bottom: 170px;
    background-color: rgba(255, 255, 255, 0);
    left: 20px;
}

.col-18
{
    position: relative;
    margin-top: 190px;
    left: 990px;
    bottom: 3750px;
    background:rgb(255, 255, 255, 0.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(15px);
    width: calc(350px);
    height: 220px;
    transition: 1.5s;
    
}
.col-18:hover
{
    background:rgba(255, 255, 255, 0.212);
    transition: 1.5s;
}
.col-18engindie
{
    background-color: #ffffff00;
    position: relative;
    top: 65px;
    left: 170px;
}
.col-18 h3
{
    background-color: #ffffff00;
    color: white;
    position: relative;
    bottom: 170px;
    left: 20px;
    font-size: 25px;
}
.col-18s
{
    color: white;
    position: relative;
    bottom: 110px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0);
}
.col-18s p
{
    color: white;
    background-color: rgba(255, 255, 255, 0);
}
.rating16
{
    background-color: rgba(255, 255, 255, 0);
}
.test16
{
    color: white;
    position: relative;
    bottom: 160px;
    background-color: rgba(255, 255, 255, 0);
    left: 20px;
}
.btn
{
     display: inline-block;
     position: relative;
     left: 800px;
     bottom: 3220px;
     background: #0D9FD9;
     color: #fff;
     padding: 12px 30px;
     margin: 15px 0;
     border-radius: 30px;
     margin-top: 30px;
     
}
.btn:hover
{
    background: #ffffff;
    color: #0D9FD9;
    transition: 0.5s;
}